*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}





.h1{
    text-align: center;
    letter-spacing: 5px;
    margin: 50px;
}

.keyBlockWrapper{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.keyLetter{
    color: #fff;
    text-align: center;
    display: block;
    margin: 20px;
}


$keyBlockSize:200px;
.keyBlock{
    position: relative;
    width: $keyBlockSize;
    height: $keyBlockSize;
    background-color: rgb(163, 204, 231);
    margin: 30px;
    border-radius: 10px;
}


.drumIcon{
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.btn{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 20px;
    border-radius: 100px;
    border: none;

    &--record{
        background-color: rgb(202, 160, 160);
    }
    &--play{
        background-color: rgb(195, 245, 182);
    }

    &:hover{
        cursor: pointer;
    }
}

.button--playAll{
    display: block;
    margin: 30px auto;
    padding: 15px;
    background-color: rgb(195, 245, 182);
    border-radius: 10px;
    border: 1px #000 solid;
    cursor: pointer;
}


.interfaceIcon{
    height: 100%;
}


.pressedRecordButton{
    transform: scale(0.9);
    background-color: rgb(207, 99, 99);
}



//switch

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 80%;
    width: 50%;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border: 1px solid rgb(212, 212, 212);
  }
  
  input:checked + .slider {
    background-color: cornflowerblue;
  }
  
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



  .recordPlayRow{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0;
  }